section#banner.banner
    .banner_opacity
    .wrapper
        .banner-block
            .page__title_undo Fitness pro your 
                span.page_color-green Health Partner
            h1.page__title-h1 
                span.page_color-green Unleash 
                | your inner 
                span.page_color-green strength
            .page__title_sub An effective Cardio program can take you there
            .banner-block__actions
                a.page__btn.page__btn_gray(href="#contact") Join us
                a.page__btn(href="#price") shopping