section.benefits
    .wrapper
        .benefits-block
            .benefits-block__text
                h2.page__title-h2 Benefits _ join today!
                ol.page__ol
                    li.page__ol-li At solmen va esser necessi far uniform li grammatica, pronunciation,
                    li.page__ol-li Omnicos direct desirabilite lingua francal  continuar payar custosi traductores.
                    li.page__ol-li Li lingues differe solmen in li grammatica, pronunciation plu commun vocabules. 
                    li.page__ol-li Li Europan lingues es membres esser del sam familie. 
            .benefits-block__img
                img.page__img(src="assets/img/img-man-2.png", alt="")