section#contact.contact
    .wrapper
        .contact-block
            .contact-block__text
                h2.page__title-h2 Contact us
                p.page__text At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles ma quande li lingues coalesce, li grammatical.
                .contact-block__text-info
                    .page__icon.page__icon_mark
                    .page__text 2783 Terry Lane
                    .page__text Orlando, FL 32805 
                .contact-block__text-info
                    .page__icon.page__icon_phone
                    a.page__link(href="tel:1800 - 456 - 7500") 1800 - 456 - 7500
                    a.page__link(href="tel:1800 - 456 - 7500") 1800 - 456 - 7500
                .contact-block__text-info
                    .page__icon.page__icon_mail
                    a.page__link(href="mailto:robertprice@gmail.com") robertprice@gmail.com
                    a.page__link(href="mailto:nig saran22@gmail.com") nigsaran22@gmail.com
                   
            .contact-block__form
                form.page__form
                    h3.page__title-h3 Get your free pass
                    input.page__input(placeholder="Your Name (Required)", required)
                    input.page__input(placeholder="Your Email (Required)", required)
                    input.page__input(placeholder="phone number")
                    textarea.page__textarea(placeholder="Give some Details")
                    button.page__btn Join us