section.testimonial
    .testimonial_parallax
    .testimonial_opacity
    .wrapper
        h2.page__title-h2  TESTIMONIAL
        .testimonial-block
            .testimonial-block-info
                .testimonial-block-info__img
                    img.page__img(src="assets/img/img-man.jpg", alt="")
                    .testimonial-block-info__img-text
                        .page__text.page__text_semibold Robert Price
                        .page__text_semibold 12 feb 2019
            .testimonial-block-text
                .page__text At solmen va esser necessi far uniform lit grammatica, pronunciation e plu sommun paroles ma quande lingues.
           
